/*
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at https://mozilla.org/MPL/2.0/.

Repository location: https://github.com/pangbo-labs/vue2-components
*/

/* Source Code Pro */
/* @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap'); */

/* Roboto Mono */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');



:root {
    --font-family: Segoe UI, Rototo, Avenir, Helvetica, Arial, Noto Sans SC, Microsoft Yahei, sans-serif;
	--font-weight: normal;
    --text-size: 13px;
    --line-height: 175%;
    --line-height-compact: 140%;
    --text-color: #444;
    --small-text-size: 12px;

    --primary-color: #c33;
    /* --secondary-color: #fa3; */
    --secondary-color: #69c;

    --selected-background-color: #ddd; /* rgba( 0, 0, 0, 0.3 ) */;
    --selected-text-color: var(--text-color);
    --selected-text-weight: normal;
    --hovered-background-color: rgba( 0, 0, 0, 0.1 );
    --hovered-text-color: var(--text-color); /* #66b1ff; */
    --hovered-text-weight: normal;

    --popup-menu-background: #fff;
    --popup-menu-padding: 4px 4px;
    --popup-menu-item-padding: 8px 20px;
    --popup-menu-item-line-height: 100%;
    --popup-menu-item-background: transparent;
    --popup-menu-item-text-color: var(--text-color);
    --popup-menu-item-text-size: var(--text-size);
    --popup-menu-default-item-text-color: var(--popup-menu-item-text-color);
    --popup-menu-default-item-text-weight: bold;

    --list-view-header-font-size: var(--text-size);
    --list-view-header-font-weight: 500;
    --list-view-data-font-size: var(--text-size);

	--tooltip-background: #555;
	--tooltip-text-size: 12px;
	--tooltip-text-color: #fff;
	--tooltip-line-height: 150%;
	--tooltip-padding: 8px 12px;
	--tooltip-border-radius: 6px;



    --PbTable-table-border: 1px solid #eee;
    --PbTable-table-borderRadius: 5px;
	--PbTable-table-background: transparent;
	--PbTable-headerRow-virticalAlign: center;
	--PbTable-headerRow-background: #f7f6f3;
    --PbTable-headerRow-color: #37352f;
	--PbTable-headerRow-lineHeight: 140%;
	--PbTable-headerRow-borderBottom: 1px solid #eee;
	--PbTable-dataRow-virticalAlign: center;
	--PbTable-dataRow-background: #fff;
	--PbTable-dataRow-color: #37352f;
	--PbTable-dataRow-lineHeight: 140%;
	--PbTable-dataRow-borderBottom: 1px solid #eee;
	--PbTable-dataRow-hover-background: #f9f9f9;
	--PbTable-dataRow-selected-background: #eeeef9;

	--pagingBar-button-spacing: 6px;
	--pagingBar-button-width: 20px;
	--pagingBar-button-height: 22px;
	--pagingBar-button-padding: 2px 4px;
	--pagingBar-button-font-size: 13px;
	--pagingBar-button-font-weight: normal;
	--pagingBar-button-border: 1px solid rgba( 0, 0, 0, 0.4 );
	--pagingBar-button-border-radius: 5px;
	--pagingBar-button-background: rgba( 255, 255, 255, 1 );
	--pagingBar-button-text-color: var(--text-color);

	--pagingBar-button-current-page-width: var(--pagingBar-button-width);
	--pagingBar-button-current-page-height: var(--pagingBar-button-height);
	--pagingBar-button-current-page-padding: var(--pagingBar-button-padding);
	--pagingBar-button-current-page-font-size: var(--pagingBar-button-font-size);
	--pagingBar-button-current-page-font-weight: 600;
	--pagingBar-button-current-page-border: 1px solid var(--primary-color);
	--pagingBar-button-current-page-border-radius: var(--pagingBar-button-border-radius);
	--pagingBar-button-current-page-background: var(--primary-color);
	--pagingBar-button-current-page-text-color: #fff;

	--codeBlock-border: 1px solid transparent;
	--codeBlock-border-radius: 5px;
	--codeBlock-padding: 20px 24px;
	--codeBlock-background: rgb(243, 245, 247);
	--codeBlock-font-family: "Roboto Mono", "Source Code Pro", Menlo, Monaco, Consolas, "Courier New", monospace;
	--codeBlock-text-size: var(--text-size);
	--codeBlock-text-weight: 400;
	--codeBlock-line-height: 150%;
	--codeBlock-tab-size: 4;
}

body, div, th, td, p, li, dt, dd, input, textarea {
	font-family: Segoe UI, Rototo, Avenir, Helvetica, Arial, Noto Sans SC, Microsoft Yahei, sans-serif;
	font-size: 13px;
	color: #333;
}

.item-active {
	background: #c33;
	color: #333;
}

.item-hover {
	background: rgba( 0, 0, 0, 0.08 );
	color: #333;
}

::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}

::-webkit-scrollbar-thumb {
	border-radius: 1em;
	background: rgba( 50, 50, 50, 0.3 );
}

::-webkit-scrollbar-track {
	border-radius: 1em;
	background: rgba( 50, 50, 50, 0.1 );
}

.pb-document, .pb-doc-block {
	color: var(--text-color);
}

.pb-document .pb-doc-block {
	margin-top: 32px;
}
