
:root {
    --font-family: Segoe UI, Rototo, Avenir, Helvetica, Arial, Noto Sans SC, Microsoft Yahei, sans-serif;
    --text-size: 13px;
    --line-height: 175%;
    --line-height-compact: 140%;
    --text-color: #37352f;
    --small-text-size: 12px;

    --primary-color: #c33;
    /* --secondary-color: #fa3; */
    --secondary-color: #69c;

    --selected-background: #ccc;
    --selected-text-color: var(--text-color);
    --selected-text-weight: normal;
    --hovered-background: #ecf5ff;
    --hovered-text-color: var(--text-color); /* #66b1ff; */
    --hovered-text-weight: normal;

    --popup-menu-background: #fff;
    --popup-menu-padding: 4px 4px;
    --popup-menu-item-padding: 8px 20px;
    --popup-menu-item-line-height: 100%;
    --popup-menu-item-background: transparent;
    --popup-menu-item-text-color: var(--text-color);
    --popup-menu-item-text-size: var(--text-size);
    --popup-menu-default-item-text-color: var(--popup-menu-item-text-color);
    --popup-menu-default-item-text-weight: bold;

    --list-view-header-font-size: var(--text-size);
    --list-view-header-font-weight: 500;
    --list-view-data-font-size: var(--text-size);
}

